-if user_signed_in?
  =render "shared/user_feed"
-else
  %center.hero-unit
    %h1
      =t :welcome_message
    %p=t :welcome_small
    =link_to t(:sign_up_button), new_user_registration_path, class: "btn btn-primary btn-large"
