%center.hero-unit
  -if user_signed_in?
    %p Welcome back!
  -else
    %h1 Welcome to Formosa.pl!
    %br
    %small Sign up below or sign back in.
    %br
    =link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large"
